<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookit / Bookings List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="top-menu">
        <div class="logo">
            <img src="logo.png" alt="Bookit Logo">
        </div>
        <div class="app-name">Bookit</div>
        <div class="logged-in-as"><%= loggedInMessage %></div>
        <div class="logout-user-button-image"></div>
            <a href="/logout" class="button-link">Logout</a>
        </div>
    </header>
    <div class="content-list">
        <div class="left-column">
            <p>Here are the filters</p>
            <form action="/bookings-list" method="POST">
                <div class="date">
                    <input type="date" name="date" />
                </div>
                <p>Duration</p>
                <!-- <input type="range" step="30" min="30" max="240" value="60" class="slider" id="myRange1"> -->
                <input type="range" name="durationRange" step="30" min="30" max="240" value="60" class="slider" id="timeSlider" oninput="updateTimeDisplay(this.value)" />
                <input type="time" name="durationNumber" step="1800" min="00:30:00" max="04:00:00" value="01:00:00" id="timeDisplay" oninput="updateTimeSlider(this.value)" />
                <p>Time Slot</p>
                <select placeholder="Choose timeslot" id="timeSlot" name="timeslot">
                    <% for (let i = 9; i <= 21; i++) { %>
                        <% for (let j = 0; j < 31; j += 30) { %>
                            <% var hours = String(i).padStart(2, "0"); %>
                            <% var minutes = String(j).padStart(2, "0"); %>
                            <option value="starting from <%=hours + ":" + minutes%>">starting from <%=hours + ":" + minutes%></option>
                        <% } %>
                    <% } %>
                </select>
                <p>Building</p>
                <select placeholder="Field 2" id="building" name="building">
                    <option value="RHB">Richard Hoggart Building</option>
                    <option value="PSH">Professor Stuart Hall Building</option>
                    <option value="WHB">Whitehead Building</option>
                    <option value="MMM">Margaret MacMillan Building</option>
                </select>
                <p>Room Type</p>
                <select placeholder="Field 2" id="building" name="building">
                    <option value="Lecture theatre">Lecture theatre</option>
                    <option value="Seminar room">Seminar room</option>
                    <option value="Piano room">Piano room</option>
                    <option value="Promotional table / stall">Promotional table / stall</option>
                </select>
                <p>Seating Available</p>
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange2" oninput="document.getElementById('rangeValue').innerText='Seating Available: ' + this.value">
                <p id="rangeValue">Seating Available: 50</p>
                <button type="submit">Confirm</button>
            </form>
            <script>
                function updateTimeDisplay(val) {
                    var stringVal = "0" + Math.floor(val / 60) + ":" + ("0" + (val % 60)).slice(-2);
                    document.querySelector("#timeDisplay").value = stringVal;
                }
                function updateTimeSlider(val) {
                    var hoursMinutes = val.split(":");
                    console.log(hoursMinutes);
                    var totalTime = parseInt(hoursMinutes[0]) * 60 + parseInt(hoursMinutes[1]);
                    document.querySelector("#timeSlider").value = totalTime;
                    if (document.querySelector("#timeDisplay").value > "04:00") {
                        document.querySelector("#timeDisplay").value = "04:00";
                    } 
                    if (document.querySelector("#timeDisplay").value < "00:30") {
                        document.querySelector("#timeDisplay").value = "00:30";
                    } 
                }
            </script>
        </div>
        <div class="right-column">
            <h2 class="current-bookings-title">Current bookings</h2>
            <div class="order-by-button-wrapper">
                <form class="card-wrapper" action="/bookings-list" method="POST">
                    <button class="button-link" name="orderSelection" type="submit" value="o_b_Room">Order by Building</button>
                    <button class="button-link" name="orderSelection" type="submit" value="o_b_Time">Order by Time</button>
                    <button class="button-link" name="orderSelection" type="submit" value="o_b_Status">Order by Status</>
                </form>
            </div>
            <!-- This is where the list will go -->
            <ul class="bookings-list">
                <!-- TO DO: Have for loop iterate through all rooms matching filter criteria -->
                <% for (let i = 0; i < bookings.length; i++) { %>
                    <li>
                        <div class="card-wrapper">
                            <img src="classroom.jpg" alt="Room Preview Image" class="room-preview-image">
                            <div class="card-outline">
                                <div class="card-column">
                                    <div class="room-data">
                                        <div>Room Number: <%=bookings[i].roomNumber%></div>
                                        <div>Building: <%=bookings[i].building%></div>
                                    </div>
                                    <div class="time-data">
                                        <div>Date: <%=bookings[i].date%></div>
                                        <div>Timeslot: <%=bookings[i].timeslot%></div>
                                    </div>
                                </div>
                                <div class="card-column">
                                    <div class="user-data">
                                        <div>Booked by: <%=bookings[i].bookedBy%></div>
                                        <div>Status: <%=bookings[i].Status%></div>
                                    </div>
                                </div>
                                <div class="card-column">
                                    <a href="/view-booking" class="button-link">View</a>
                                </div>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <a href="#" class="footer-link">Credits</a>
        <a href="mailto:support@bookit.com" class="footer-link">Support Email</a>
        <a href="#" class="footer-link">Report Bug</a>
        <a href="#" class="footer-link">FAQ / Help</a>  
    </footer>
</body>
</html>
