<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookit / Edit Room</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <%- include('header-menu') %>
    <div class="content">
        <div class="form-container">
            <h1>Edit Room</h1>
            <form action="/edit-room-success" method="post">
                <div class="input-group">
                    <label for="currentRooms">Current Rooms:</label>
                    <select id ="currentRoooms" name="currentRooms">
                        <% for (let i = 0; i < rooms.length; i++) { %>
                        <option value="roomNumber"><%= rooms[i].room_number %></option>
                        <% } %>
                    </select>
                </div>

                <div class="input-group">
                    <label for="roomNumber">Room Number:</label>
                    <input type="text" id="room_number" name="roomNumber" required>
                </div>
                <div class="input-group">
                    <label for="buildingName">Building Name:</label>
                    <input type="text" id="building_name" name="buildingName" required>
                </div>
                <div class="input-group">
                    <label for="capacity">Capacity:</label>
                    <input type="number" id="capacity" name="capacity" required>
                </div>
                <div class="input-group">
                    <label for="roomType">Room Type:</label>
                    <select id="roomType" name="roomType" required>
                        <% for (let i = 0; i < rooms.length; i++) { %>
                            <option value="<%= rooms[i].room_type %>"><%= rooms[i].room_type %></option>
                        <% } %>
                    </select>
                </div>                
                <div class="input-group">
                    <label for="pictureURL">Picture URL:</label>
                    <input type="text" id="pictureURL" name="pictureURL">
                </div>
                <div class="input-group">
                    <label for="isAcceptingBookings">Accepting Bookings:</label>
                    <select id="isAcceptingBookings" name="isAcceptingBookings">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <button type="submit" class="button-link">Confirm Changes</button>
            </form>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>
