<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bookit / Edit Booking </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/styles.css">
        <!-- tinyMCE code starts -->
        <link rel="stylesheet" href="/tinyMCEstyle.css">
        <script type="application/javascript" src="/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
        <script type="application/javascript" src="/bookit-tinymce-config.js"></script>            
        <!-- tinyMCE code ends -->
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
<body>
    <%- include('header-nomenu') %>
    <div class="view-booking-content">
        <h2>Edit Booking</h2>
        <ul class="view-booking-column-list">
            <li><strong>Booked by:</strong> <%= result[0].bookedBy %></li>
            <li><strong>Date:</strong> <%= result[0].date %></li>
            <li><strong>Building:</strong> <%= result[0].building %></li>
            <li><strong>Status:</strong> <%= result[0].Status %></li>
            <li><strong>Timeslot:</strong> <%= result[0].timeslot %></li>
            <li><strong>Room Number:</strong> <%= result[0].roomNumber %></li>
            <li><strong>Seating Requested:</strong> <%= result[0].minSeats %></li>
            <li><strong>Risk Assessment:</strong>
                <% if (result[0].isApproved == 1) { %>Approved
                <% } else if ((result[0].isApproved == 0 || result[0].isApproved === null) && result[0].approvedBy != null) { %>Rejected
                <% } else {%>Not yet reviewed 
                <% } %>
            </li>
        </ul>
        <% if (result[0].Status = "Awaiting Approval" && result[0].isApproved != '1') { %>
            <form id = "updateAction" class="view-booking-content" action="/edit-booking-submit" method="POST">
                <div class="view-booking-input">
                    <p><strong>Risk Assessment</strong></p>
                    <textarea id="risktinymce" maxlength="200" name="risk1" label="Risk1" rows="8" cols="200" oninput="updateCharCount('risktinymce', 'countRisk1')">
                    <% if (result[0].risk1 == null ) { %> 
                        <%- include('risk-template',{ templateBy: result[0].bookedBy, templateType: result[0].roomType, templateBuilding: result[0].building, templateRoom: result[0].roomNumber , templateSociety:'INSERT SOCIETY HERE!', templateDate: result[0].date, templateTimeslot: result[0].timeslot }) %>   
                    <% } else { %>
                        <%- result[0].risk1 %>
                    <% } %>
                    </textarea>
                    <div id="countRisk1">0/200</div>
<!--  remove risk assessment 2
                    <p><strong>Risk Assessment 2</strong></p>
                    <textarea id="risk2" maxlength="200" name="risk2" label="Risk2" rows="8" cols="200" oninput="updateCharCount('risk2', 'countRisk2')"><%= result[0].risk2 %></textarea>
                    <div id="countRisk2">0/200</div>
-->
                </div>
                <script>
                    function updateCharCount(textarea, count) {
                        var textarea = document.getElementById(textarea);
                        var charCount = document.getElementById(count);
                        var charsLeft = textarea.value.length;
                        charCount.innerText = (charsLeft) + "/200";
                        if (charsLeft == 200) {
                            charCount.style.color = "red";
                        } else {
                            charCount.style.color = "";
                        }
                    }
                </script>
                <div class="view-booking-button">
                    <a href="/view-booking/<%= result[0].bookingId %>" class="button-link" onclick="event.preventDefault(); window.history.back();">Back</a>
                    <input type="hidden" label="bookingId" name="bookingId" value="<%= result[0].bookingId %>"> 
                    <button class="button-link" name="confirm" type="submit" value="">Update Booking</button>
                </div>
            </form>
        <% } else { %>
            <div class="view-booking-input">
                <p><strong>The risk asssements cannot be edited because they have already been approved or this booking is not awaiting approval</strong>                <p><strong>Risk Assessment 1</strong></p>
                <textarea name="risk1" id="risktinymce" rows="8" cols="200" readonly><%- result[0].risk1 %></textarea>
<!-- risk assessment 2 removed
                <p><strong>Risk Assessment 2</strong></p>
                <textarea name="risk2" id="risk2" rows="8" cols="200" readonly><%= result[0].risk2 %></textarea>
-->
            </div>
            <div class="view-booking-button"><a href="/view-booking/<%= result[0].bookingId %>" class="button-link">Back</a></div>
        <% } %>
    </div>
    <%- include('footer') %>
</body>
</html>

