<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bookit / Edit Booking </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/styles.css">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
<body>
    <%- include('header-nomenu') %>
    <div class="view-booking-content">
        <h2>Edit Booking</h2>
        <ul class="view-booking-column-list">
            <li><strong>Booked by:</strong> <%= result[0].bookedBy %></li>
            <li><strong>Date:</strong> <%= result[0].date %></li>
            <li><strong>Building:</strong> <%= result[0].building %></li>
            <li><strong>Status:</strong> <%= result[0].Status %></li>
            <li><strong>Timeslot:</strong> <%= result[0].timeslot %></li>
            <li><strong>Room Number:</strong> <%= result[0].roomNumber %></li>
            <li><strong>Seating Requested:</strong> <%= result[0].minSeats %></li>
            <li><strong>Risk Assessment:</strong>
                <% if (result[0].isApproved == 1) { %>Approved
                <% } else if ((result[0].isApproved == 0 || result[0].isApproved === null) && result[0].approvedBy != null) { %>Rejected
                <% } else {%>Not yet reviewed 
                <% } %>
            </li>
        </ul>
        <% if (result[0].Status = "Awaiting Approval" && result[0].isApproved != '1') { %>
            <form id = "updateAction" class="view-booking-content" action="/edit-booking-submit" method="POST">
                <div class="view-booking-input">
                    <p><strong>Risk Assessment 1</strong></p>
                    <textarea name="risk1" id="risk1" rows="8" cols="200"><%= result[0].risk1 %></textarea>
                    <p><strong>Risk Assessment 2</strong></p>
                    <textarea name="risk2" id="risk2" rows="8" cols="200"><%= result[0].risk2 %></textarea>
                </div>
                
                <div class="view-booking-button">
                    <a href="/view-booking/<%= result[0].bookingId %>" class="button-link">Back</a>
                    <input type="hidden" label="bookingId" name="bookingId" value="<%= result[0].bookingId %>"> 
                    <button class="button-link" name="confirm" type="submit" value="">Update Booking</button>
                </div>
            </form>
        <% } else { %>
            <div class="view-booking-input">
                <p><strong>The risk asssements cannot be edited because they have already been approved or this booking is not awaiting approval</strong>                <p><strong>Risk Assessment 1</strong></p>
                <textarea name="risk1" id="risk1" rows="8" cols="200" readonly><%= result[0].risk1 %></textarea>
                <p><strong>Risk Assessment 2</strong></p>
                <textarea name="risk2" id="risk2" rows="8" cols="200" readonly><%= result[0].risk2 %></textarea>
            </div>
            <div class="view-booking-button"><a href="/view-booking/<%= result[0].bookingId %>" class="button-link">Back</a></div>
        <% } %>
    </div>
    <%- include('footer') %>
</body>
</html>

