<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookit / Edit Room</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <%- include('header-menu') %>
    <div class="content">
        <div class="form-container">
            <h1>Edit Room</h1>
            <form action="/edit-room-success" class="input-group-admin-pages" method="post" enctype="multipart/form-data">
                <div class="input-group-admin-pages">
                    <input type="hidden" id="roomId" name="roomId" value="<%= rooms[0].roomId %>" required>
                </div>
                <div class="input-group-admin-pages">
                    <label for="roomNumber">Room Number:</label>
                    <input type="text" id="room_number" name="roomNumber" value="<%= rooms[0].roomNumber %>" required>
                </div>
                <div class="input-group-admin-pages">
                    <label for="buildingName">Building Name:</label>
                    <select id="building_name" name="buildingName" required>
                        <% for (let i = 0; i < buildingNames.length; i++) { %>
                            <option value="<%= buildingNames[i].building_name %>" <%= buildingNames[i].building_name == rooms[0].buildingName ? 'selected' : '' %>><%= buildingNames[i].building_name %></option>
                        <% } %>
                    </select>
                </div>
                <div class="input-group-admin-pages">
                    <label for="capacity">Capacity:</label>
                    <input type="number" id="capacity" name="capacity" value="<%= rooms[0].capacity %>" required>
                </div>
                <div class="input-group-admin-pages">
                    <label for="roomType">Room Type:</label>
                    <select id="roomType" name="roomType" required>
                        <% for (let i = 0; i < roomTypes.length; i++) { %>
                            <option value="<%= roomTypes[i].room_type %>" <%= roomTypes[i].room_type == rooms[0].roomType ? 'selected' : '' %>><%= roomTypes[i].room_type %></option>
                        <% } %>
                    </select>
                </div>
                <div class="input-group-admin-pages">
                    <label>Room Image:</label>
                    <input type="file" name="roomImageFile" id="roomImageFile">
                    <p>Or</p>
                    <input type="text" name="pictureURL" placeholder="Or enter image URL" id="pictureURL" value="<%= rooms[0].pictureURL %>">
                </div>
                <script>
                    document.getElementById('roomImageFile').addEventListener('change', function() {
                        // Check if a file was selected
                        if(this.files && this.files.length > 0) {
                            // Clear the text input for the picture URL
                            document.getElementById('pictureURL').value = '';
                        }
                    });
                </script>                
                <div class="input-group-admin-pages">
                    <label for="isAcceptingBookings">Accepting Bookings:</label>
                    <select id="isAcceptingBookings" name="isAcceptingBookings">
                        <option value="1" <%= rooms[0].isAcceptingBookings == '1' ? 'selected' : '' %>>Yes</option>
                        <option value="0" <%= rooms[0].isAcceptingBookings == '0' ? 'selected' : '' %>>No</option>
                    </select>
                </div>
                <button type="submit" class="button-link">Save</button>
            </form>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>
