<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookit / Registration Error</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <%- include('header-menu') %>
    <div class="content">
        <div class="register-container">
            <h1>Registration Error</h1>
            <% if (errorMessage) { %>
                <p><%= errorMessage %></p>
            <% } else { %>
                <p>An error occurred during registration. Please try again.</p>
            <% } %>
            <form action="/registered" class="input-group-admin-pages" method="POST">
                <div class="input-group-admin-pages">
                    <label for="email">Email:*</label>
                    <input type="email" id="email" name="email" required value="<%= formValues ? formValues.email : '' %>">
                </div>
                <div class="input-group-admin-pages">
                    <label for="password">Password:*</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="input-group-admin-pages">
                    <label for="userrole">User Role:*</label>
                    <select name="userrole" id="userrole">
                        <% for(let i = 0; i < allUserRoles.length; i++) { %>
                            <option value="<%= allUserRoles[i].role_name %>"><%= allUserRoles[i].role_name %></option>
                        <% } %>   
                    </select>    
                </div>
                <div class="input-group-admin-pages">
                    <label for="societyname">Society Name:</label>
                    <input type="text" id="societyname" name="societyname" value="<%= formValues ? formValues.societyname : '' %>">
                </div>
                <div class="input-group-admin-pages">
                    <label for="module">Module:</label>
                    <input type="text" id="module" name="module" value="<%= formValues ? formValues.module : '' %>">
                </div>
                <button type="submit" class="button-link">Register</button>
            </form>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>
