<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookit / Report Bug</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <%- include('header-menu') %>
    <div class="content">
        <div class="form-container">
            <h1>Report a Bug</h1>
            <form action="/send" method="POST">
                <div class="input-group-admin-pages">
                    <label for="yourName">Your Name:</label>
                    <input type="text" id="yourName" name="yourName" required>
                    <% if(errors && errors.yourName) { %> 
                    <span class="text-danger"><%= errors.name.msg %></span>
                    <% } %>
                </div>
                <div class="input-group-admin-pages">
                    <label for="yourEmail">Your Email:</label>
                    <input type="email" id="yourEmail" name="yourEmail" required>
                    <% if(errors && errors.yourEmail) { %>
                    <span class="text-danger"><%= errors.email.msg %></span>  
                    <% } %>
                </div>
                <div class="input-group-admin-pages">
                    <label for="bugTitle">Bug Title:</label>
                    <input type="text" id="bugTitle" name="bugTitle" required>
                    <% if(errors && errors.bugTitle) { %>
                    <span class="text-danger"><%= errors.bugTitle.msg %></span>
                    <% } %>
                </div>
                <div class="input-group-admin-pages">
                    <label for="bugDescription">Bug Description:</label>
                    <textarea id="bugDescription" name="bugDescription" required></textarea>
                    <% if(errors && errors.bugDescription) { %>
                    <span class="text-danger"><%= errors.bugDescription.msg %></span>
                    <% } %>
                </div>
                <div class="input-group-admin-pages">
                    <label for="bugSeverity">Bug Severity:</label>
                    <select id="bugSeverity" name="bugSeverity" required>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                </div>
                <button type="submit" class="button-link">Submit Bug Report</button>
            </form>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>
