<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookit / Booking Requests List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <%- include('header-menu-approvals') %>
    <div class="content-list">
        <div class="left-column">
            <%- include('filters') %>
        </div>
        <div class="right-column">
            <h2 class="current-bookings-title">Bookings Awaiting Approval</h2>

            <!-- This is where the list will go -->
            <ul class="data-list">
                <!-- TO DO: Have for loop iterate through all rooms matching filter criteria -->
                <% for (let i = 0; i < bookings.length; i++) { %>
                    <li>
                        <div class="card-wrapper">
                            <img class="room-preview-img" src="<%=bookings[i].pictureURL%>" alt="Room Preview Image" class="room-preview-image">
                            <div class="card-outline">
                                <div class="card-column">
                                    <div class="room-data">
                                        <div>Room Number: <%=bookings[i].roomNumber%></div>
                                        <div>Building: <%=bookings[i].building%></div>
                                    </div>
                                    <div class="time-data">
                                        <div>Date: <%=bookings[i].date%></div>
                                        <div>Timeslot: <%=bookings[i].timeslot%></div>
                                    </div>
                                </div>
                                <div class="card-column">
                                    <div class="user-data">
                                        <div>Booked by: <%=bookings[i].bookedBy%></div>
                                        <div>Status: <%=bookings[i].Status%></div>
                                        <% if (bookings[i].raApprovalStatus == "Risk Assessment Approved") { %>
                                            <div>Risk Assessment: Approved</div>
                                        <% } else if (bookings[i].raApprovalStatus == "Risk Assessment Rejected") { %>
                                            <div>Risk Assessment: Rejected</div>
                                        <% } else { %>
                                            <div>Risk Assessment: Not reviewed</div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="card-column">
                                    <a href="/review-booking/<%=bookings[i].bookingId%>" class="button-link">Review Booking</a>
                                </div>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>
            <% if (bookings.length == 0) { %>
                <h2 class="none-found">No bookings found :(</h2>
            <% } %>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>
