<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bookit / Review Booking </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/styles.css">
        <!-- tinyMCE code starts -->
        <link rel="stylesheet" href="/tinyMCEstyle.css">
        <script type="application/javascript" src="/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
        <script type="application/javascript" src="/bookit-tinymce-config.js"></script>            
        <!-- tinyMCE code ends -->
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
<body>
    <%- include('header-nomenu') %>
    <div class="view-booking-content">
        <h2>Review Booking</h2>
        <ul class="view-booking-column-list">
            <li><strong>Booked by:</strong> <%= result[0].bookedBy %></li>
            <li><strong>Date:</strong> <%= result[0].date %></li>
            <li><strong>Building:</strong> <%= result[0].building %></li>
            <li><strong>Status:</strong> <%= result[0].Status %></li>
            <li><strong>Timeslot:</strong> <%= result[0].timeslot %></li>
            <li><strong>Room Number:</strong> <%= result[0].roomNumber %></li>
            <li><strong>Seating Requested:</strong> <%= result[0].minSeats %></li>
            <li><strong>Risk Assessment:</strong>
                <% if (result[0].approvalStatus == "Risk Assessment Accepted") { %>Approved
                <% } else if ((result[0].approvalStatus == "Risk Assessment Rejected" || result[0].approvalStatus == "Not Reviewed") && result[0].reviewedBy != null) { %>Rejected
                <% } else {%>Not yet reviewed 
                <% } %>
            </li>
        </ul>
        <div class="view-booking-input">
            <p><strong>Risk Assessment</strong></p>
            <textarea id="risktinymce" maxlength="200" name="risk1" label="Risk1" rows="8" cols="200" oninput="updateCharCount('risktinymce', 'countRisk1')">
                <% if (result[0].risk1 == null ) { %> 
                    <%- include('risk-template',{ templateBy: result[0].bookedBy, templateType: result[0].roomType, templateBuilding: result[0].building, templateRoom: result[0].roomNumber , templateSociety:'INSERT SOCIETY HERE!', templateDate: result[0].date, templateTimeslot: result[0].timeslot }) %>   
                <% } else { %>
                    <%- result[0].risk1 %>
                <% } %>
            </textarea>
        </div>
        <div class="view-booking-button">
            <a href="/approved-list" class="button-link">Back</a>
            <% console.log(result[0].approvalStatus + " approved by: >" + result[0].reviewedBy +"< type: " + typeof result[0].reviewedBy); %>
            <% if ((result[0].approvalStatus == "Not Reviewed" || result[0].approvalStatus == "Risk Assessment Rejected") && result[0].reviewedBy == null) {%>
                <form id = "approveRisk" action="/review-booking-submit" method="POST">
                    <input type="hidden" label="bookingId" name="bookingId" value="<%=result[0].bookingId%>"> 
                    <button class="button-link" name="reviewAction" type="submit" value="approveRisk">Approve Risk</button>
                </form>
                <form id = "rejectRisk" action="/review-booking-submit" method="POST">
                    <input type="hidden" label="bookingId" name="bookingId" value="<%=result[0].bookingId%>"> 
                    <button class="button-link" name="reviewAction" type="submit" value="rejectRisk">Reject Risk</button>
                </form>
            <% } %>
            <% if (result[0].approvalStatus != "Not Reviewed") {%>
                <form id = "approveBooking" action="/review-booking-submit" method="POST">
                    <input type="hidden" label="bookingId" name="bookingId" value="<%=result[0].bookingId%>"> 
                    <button class="button-link" name="reviewAction" type="submit" value="approveBooking">Approve Booking</button>
                </form>
                <form id = "rejectBooking" action="/review-booking-submit" method="POST">
                    <input type="hidden" label="bookingId" name="bookingId" value="<%=result[0].bookingId%>"> 
                    <button class="button-link" name="reviewAction" type="submit" value="rejectBooking">Reject Booking</button>
                </form>
            <% } %>
        </div>

    </div>
    <%- include('footer') %>
</body>
</html>

