<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookit / Rooms List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <%- include('header-menu-rooms') %>
    <div class="content-list">
        <div class="left-column">
            <%- include('filters') %>
        </div>
        <div class="right-column">
            <h2 class="current-bookings-title">Available Rooms</h2>
            <!-- This is where the list will go -->
            <ul class="data-list">
                <!-- TO DO: Have for loop iterate through all rooms matching filter criteria -->
                <% for (let i = 0; i < rooms.length; i++) { %>
                    <li>
                        <div class="card-wrapper">
                            <img src="<%=rooms[i].pictureURL%>" alt="Room Preview Image" class="room-preview-image">
                            <div class="card-outline">
                                <div class="card-column">
                                    <div class="room-data">
                                        <div>Room Number: <%=rooms[i].roomNumber%></div>
                                        <div>Building: <%=rooms[i].building%></div>
                                    </div>
                                </div>
                                <div class="card-column">
                                    <div class="user-data">
                                        <div>Room Type: <%=rooms[i].roomType%></div>
                                        <div>Seating Capacity: <%=rooms[i].capacity%></div>
                                    </div>
                                </div>
                                <div class="card-column">
                                    <%if (selectedTimeslot != "") { %>
                                        <form id = "actionButtons" class="card-wrapper" action="/add-booking" method="POST">
                                            <input type="hidden" name="roomId" value="<%=rooms[i].roomId%>">
                                            <input type="hidden" name="selectedDate" value="<%=selectedDate%>"> 
                                            <input type="hidden" name="selectedTimeslot" value="<%=selectedTimeslot%>">
                                            <button class="button-link" name="roomId" type="submit" value="<%=rooms[i].roomId%>">Book</BR><%=selectedDate %></br><%=selectedTimeslot%></button>
                                        </form>
                                    <% } else { %>
                                        <div class="card-wrapper>
                                            <button class="button-link" name="book" type="submit" value="">To make a booking for this room, select a date and timeslot in the filter.</button>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>
            <% if (rooms.length == 0) { %>
                <h2 class="none-found">No bookings found :(</h2>
            <% } %>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>
