<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookit / Rooms List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <%- include('header-menu') %>
    <div class="content-list">
        <div class="left-column">
            <p>Here are the filters</p>
            <form id = "filterForm" action="/rooms-list-filtered" method="POST">
                <div class="date">
                    <input type="date" name="date" />
                </div>
                <p>Duration</p>
                <!-- <input type="range" step="30" min="30" max="240" value="60" class="slider" id="myRange1"> -->
                <input type="range" name="durationRange" step="30" min="30" max="240" value="60" class="slider" id="timeSlider" oninput="updateTimeDisplay(this.value)" />
                <input type="time" name="durationNumber" step="1800" min="00:30:00" max="04:00:00" value="01:00:00" id="timeDisplay" oninput="updateTimeSlider(this.value)" />
                <p>Time Slot</p>
                <select placeholder="Choose timeslot" id="timeSlot" name="timeslot">
                    <option value="">Select...</option>
                    <% for (let i = 9; i <= 21; i++) { %>
                        <% for (let j = 0; j < 31; j += 30) { %>
                            <% var hours = String(i).padStart(2, "0"); %>
                            <% var minutes = String(j).padStart(2, "0"); %>
                            <option value="starting from <%=hours + ":" + minutes%>">starting from <%=hours + ":" + minutes%></option>
                        <% } %>
                    <% } %>
                </select>
                <p>Building</p>
                <select placeholder="Field 2" id="building" name="building">
                    <option value="">Select...</option>
                    <% for (let i = 0; i < buildingNames.length; i++) { %>
                        <option value="<%= buildingNames[i].building_name %>"><%= buildingNames[i].building_name %></option>
                    <% } %>
                </select>
                <p>Room Type</p>
                <select placeholder="Field 2" id="roomType" name="roomType">
                    <option value="">Select...</option>
                    <% for (let i = 0; i < roomTypes.length; i++) { %>
                        <option value="<%= roomTypes[i].room_type %>"><%= roomTypes[i].room_type %></option>
                    <% } %>
                </select>
                <p>Seating Available</p>
                <input type="range" min="1" max="100" value="1" class="slider" name="seating" oninput="updateSeatValue(this.value)">
                <p id="seatValue">Seating Available: 1</p>
                <button type="submit">Confirm</button>
            </form>
            <script>
                function updateTimeDisplay(val) {
                    var stringVal = "0" + Math.floor(val / 60) + ":" + ("0" + (val % 60)).slice(-2);
                    document.querySelector("#timeDisplay").value = stringVal;
                }
                function updateTimeSlider(val) {
                    var hoursMinutes = val.split(":");
                    console.log(hoursMinutes);
                    var totalTime = parseInt(hoursMinutes[0]) * 60 + parseInt(hoursMinutes[1]);
                    document.querySelector("#timeSlider").value = totalTime;
                    if (document.querySelector("#timeDisplay").value > "04:00") {
                        document.querySelector("#timeDisplay").value = "04:00";
                    } 
                    if (document.querySelector("#timeDisplay").value < "00:30") {
                        document.querySelector("#timeDisplay").value = "00:30";
                    } 
                }
                function updateSeatValue(val) {
                    document.getElementById('seatValue').innerText = 'Seating Available: ' + val;
                }

                // Attach the event listener to the form
                $(document).ready(function() {
                    $('#filterForm').submit(function(e) {
                        e.preventDefault(); // Prevent default form submission
                        $.ajax({
                            // Send the form data to the server
                            type: "POST",
                            url: $(this).attr('action'),
                            data: $(this).serialize(), // Serialize form data for submission
                            success: function(response) {
                                // Update the bookings list with the response
                                $('.rooms-list').html($(response).find('.rooms-list').html());
                                // remove the new data animation if it has already been added
                                $('.rooms-list').removeClass('newDataLoadedEffect');
                                // force the animation to run again
                                void $('.rooms-list')[0].offsetWidth;
                                // re-add the animation on the new data
                                $('.rooms-list').addClass('newDataLoadedEffect');
                            }
                        });
                    });
                });
            </script>
        </div>
        <div class="right-column">
            <h2 class="current-bookings-title">Available Rooms</h2>
            <div class="order-by-button-wrapper">
                <form id = "orderForm" class="card-wrapper" action="/rooms-list-filtered" method="POST">
                    <button class="button-link" name="orderSelection" type="submit" value="o_b_Building">Order by Building</button>
                    <button class="button-link" name="orderSelection" type="submit" value="o_b_Capacity">Order by Capacity</button>
                </form>
                <script>
                    // Attach the event listener to the form
                    $(document).ready(function() {
                        // Attach the event listener to buttons within the form
                        $('#orderForm .button-link').on('click', function(e) {
                            e.preventDefault(); // Prevent default button action
                    
                            var orderValue = $(this).val(); // Get the value of the clicked button
                            // Serialize the form data and append the clicked button value
                            var formData = $('#orderForm').serialize() + '&orderSelection=' + encodeURIComponent(orderValue);
                            // Send the AJAX request
                            $.ajax({   
                                // Send the form data to the server
                                type: "POST",
                                url: $('#orderForm').attr('action'),
                                data: formData, // Include the clicked button value explicitly
                                success: function(response) {
                                    // Update the bookings list with the response
                                    $('.rooms-list').html($(response).find('.rooms-list').html());
                                    // remove the new data animation if it has already been added
                                    $('.rooms-list').removeClass('newDataLoadedEffect');
                                    // force the animation to run again
                                    void $('.rooms-list')[0].offsetWidth;
                                    // re-add the animation on the new data
                                    $('.rooms-list').addClass('newDataLoadedEffect');
                                }
                            });
                        });
                    });
                    </script>                                
            </div>
            <!-- This is where the list will go -->
            <ul class="rooms-list">
                <!-- TO DO: Have for loop iterate through all rooms matching filter criteria -->
                <% for (let i = 0; i < rooms.length; i++) { %>
                    <li>
                        <div class="card-wrapper">
                            <img src="<%=rooms[i].pictureURL%>" alt="Room Preview Image" class="room-preview-image">
                            <div class="card-outline">
                                <div class="card-column">
                                    <div class="room-data">
                                        <div>Room Number: <%=rooms[i].roomNumber%></div>
                                        <div>Building: <%=rooms[i].building%></div>
                                    </div>
                                </div>
                                <div class="card-column">
                                    <div class="user-data">
                                        <div>Room Type: <%=rooms[i].roomType%></div>
                                        <div>Seating Capacity: <%=rooms[i].capacity%></div>
                                    </div>
                                </div>
                                <div class="card-column">
                                    <a href="/make-booking.ejs" class="button-link">Book</br><%=timeslot%></a>
                                </div>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>
            <% if (rooms.length == 0) { %>
                <h2 class="none-found">No bookings found :(</h2>
            <% } %>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>
